<%- include ('partials/_head') -%>
    <%- include ('partials/_header') -%>
        <%- include ('partials/_form') -%>

            <div class="lista">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>

            <div class="libro">
                <img src="./img/1.jpg" alt="">
            </div>

            </div>
            <%- include ('partials/_cierre') -%>