<%- include ('partials/_head') -%>
    <%- include ('partials/_header') -%>
        <div class="contGlobal container">
            <div class="contTXT">
                <main id="mainID">
                    <p class="pS">Nombre del libro</p>
                    <input class="inputS" type="text">
                    <p class="pS">Calificación</p>
                    <input class="inputS" type="range" name="" id="">
                    <br>
                    <input id="btnRegistrar" type="submit" value="registrar libro">
                </main>
            </div>

            <div class="lista">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>

            <div class="libro">
                <img src="./img/1.jpg" alt="">
            </div>

        </div>
        <%- include ('partials/_cierre') -%>