<div class="contGlobal container">
    <div class="contTXT">
        <main id="mainID">
            <form method="GET" action="/guardar">
                <p class="pS">Nombre del libro</p>
                <input class="inputS mg" id="tit" name="titulo" type="text">
                <p class="pS">Calificación</p>
                <input class="inputS" type="range" name="valor" min="0" max="10" step="1" onchange="updateTextInput(this.value);">
                <p>
                    <input type="text" id="textInput">
                </p>
                <br>
                <input id="btnRegistrar" type="submit" value="registrar">
            </form>
        </main>
    </div>