* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../img/susan-yin-2JIvboGLeho-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.contGlobal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-height: 600px;
    max-width: 800px;
    width: 800px;
    border-radius: 15px;
    box-shadow: 10px -2px 22px -4px rgb(0, 0, 0);
    background-color: white;
}

.h1TXT {
    /* border: 1px solid purple; */
    color: #007bff;
    margin-top: 70px;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
}

.contTXT {
    /* border: 1px solid red; */
    width: 200px;
    margin-left: 50px;
    margin-top: 80px;
}

.lista {
    /* border: 1px solid pink; */
    position: relative;
    min-height: 300px;
    max-height: 350px;
    height: 900px;
    width: 500px;
    overflow: auto;
    text-align: center;
    z-index: 99;
    top: -310px;
    left: 270px;
}

.pS {
    color: grey;
    font-size: 16px;
    text-transform: uppercase;
}

.inputS {
    margin-top: 20px;
}

.mg {
    margin-bottom: 40px;
}

#btnRegistrar {
    background-color: #2497E3;
    color: white;
    font-size: 10px;
    margin-top: 40px;
    border: none;
    outline: none;
    padding: 10px;
    margin-top: -20px;
    text-decoration: none;
}

#btnRegistrar:hover {
    cursor: pointer;
    color: white;
    background-color: #007bff;
}

#btnCargar {
    background-color: #2497E3;
    position: fixed;
    color: white;
    font-size: 10px;
    margin-top: 20px;
    margin-left: 50px;
    border: none;
    outline: none;
    padding: 10px;
    text-decoration: none;
}

#btnCargar:hover {
    cursor: pointer;
    color: white;
    background-color: #007bff;
}

.estrellas {
    color: rgb(255, 208, 0);
}

#lJson {
    color: grey;
    font-size: 10px;
    position: absolute;
    top: 87vh;
    left: 72%;
    text-decoration: none;
    padding: 5px;
}

#lJson:hover {
    color: white;
    background-color: #007bff;
    text-decoration: none;
}

.titulo_libro {
    color: #007bff;
}

input[type=text] {
    color: #007bff;
    border: none;
    border-bottom: 2px solid grey;
}

input[type=text]:focus {
    outline: none;
}

input[type=text]:nth-child(1) {
    color: #007bff;
    border: none;
}

input[type=range] {
    height: 25px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #2497E3;
    border-radius: 1px;
    border: 0px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #2497E3;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #A1D0FF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #2497E3;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #2497E3;
    border-radius: 1px;
    border: 0px solid #000000;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #2497E3;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #A1D0FF;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #2497E3;
    border: 0px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-fill-upper {
    background: #2497E3;
    border: 0px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #2497E3;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #A1D0FF;
    cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
    background: #2497E3;
}

input[type=range]:focus::-ms-fill-upper {
    background: #2497E3;
}