* {
    margin: 0;
    padding: 0;
}

.contGlobal {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
}

.h1TXT {
    color: #007bff;
    margin-top: 100px;
    margin-bottom: 40px;
    text-transform: uppercase;
}

input[type=text] {
    color: #007bff;
    border: none;
    border-bottom: 2px solid grey;
}

input[type=text]:focus {
    outline: none;
}

input[type=text]:nth-child(1) {
    color: #007bff;
    border: none;
}

.contTXT {
    /* border: 1px solid red; */
}

.lista {
    /* border: 1px solid pink; */
    width: 300px;
    /* overflow: hidden; */
}

.libro {
    /* border: 1px solid orange; */
    width: 300px;
}

#mainID {
    /* margin-top: 25px; */
}

.pS {
    color: grey;
    font-size: 16px;
    text-transform: uppercase;
}

.inputS {
    margin-top: 20px;
}

.mg {
    margin-bottom: 40px;
}

#btnRegistrar {
    color: grey;
    font-size: 10px;
    margin-top: 40px;
    border: none;
    outline: none;
    padding: 10px;
    margin-top: -20px;
}

#btnRegistrar:hover {
    cursor: pointer;
    color: white;
    background-color: #007bff;
}